#tip-toast-msg-div {
  position: absolute;
  z-index: 20000;
}

/* Direction (top, bottom) */

#tip-toast-msg-div.top {
  top: 10px;
}

#tip-toast-msg-div.bottom {
  bottom: 10px;
}

/* Size (lg, sm, default) */

#tip-toast-msg-div.size-sm {
  width: $tiptoast_width_sm;
}

#tip-toast-msg-div.size-default {
  width: $tiptoast_width;
}

#tip-toast-msg-div.size-lg {
  width: $tiptoast_width_lg;
}

/* Position (right, default, left) */

#tip-toast-msg-div.pos-left {
  left: 10px;
}

#tip-toast-msg-div.pos-right {
  right: 10px;
}

#tip-toast-msg-div.pos-default.size-sm {
  margin-left: -($tiptoast_width_sm / 2);
  left: 50%;
}

#tip-toast-msg-div.pos-default.size-lg {
  margin-left: -($tiptoast_width_lg / 2);
  left: 50%;
}

#tip-toast-msg-div.pos-default.size-default {
  margin-left: -($tiptoast_width / 2);
  left: 50%;
}

/* Toast Message */

.tip-toast.msg {
  border-radius: 8px;
  -moz-border-radius: 8px;
  background: $tiptoast_bg_color;
  border: 2px solid $tiptoast_border_color;
  margin-top: 2px;
  padding: 10px 15px;
  color: $tiptoast_color;
}

.tip-toast.msg h3 {
  margin: 0 0 8px;
  font-weight: bold;
  font-size: $tiptoast_h3_font_size;
}

.tip-toast.msg p {
  margin: 0;
}

.tip-toast.msg hr {
  border-top-color: $tiptoast_hr_border_top_color;
}

.tip-toast.danger {
  color: $tiptoast_danger_color;
  background-color: $tiptoast_danger_bg_color;
  border-color: $tiptoast_danger_border_color;
}

.tip-toast.danger hr {
  border-top-color: $tiptoast_danger_hr_border_top_color;
}

.tip-toast.danger .link {
  color: $tiptoast_danger_link_color;
}

.tip-toast.info {
  color: $tiptoast_info_color;
  background-color: $tiptoast_info_bg_color;
  border-color: $tiptoast_info_border_color;
}

.tip-toast.info hr {
  border-top-color: $tiptoast_info_hr_border_top_color;
}

.tip-toast.info .link {
  color: $tiptoast_info_link_color;
}

.tip-toast.success {
  color: $tiptoast_success_color;
  background-color: $tiptoast_success_bg_color;
  border-color: $tiptoast_success_border_color;
}

.tip-toast.success hr {
  border-top-color: $tiptoast_success_hr_border_top_color;
}

.tip-toast.success .link {
  color: $tiptoast_success_link_color;
}

.tip-toast.warning {
  color: $tiptoast_warning_color;
  background-color: $tiptoast_warning_bg_color;
  border-color: $tiptoast_warning_border_color;
}

.tip-toast.warning hr {
  border-top-color: $tiptoast_warning_hr_border_top_color;
}

.tip-toast.warning .link {
  color: $tiptoast_warning_link_color;
}

/* Close Button */

.tip-toast .tip-toast-close-btn-hidden {
  display: none;
}

.tip-toast .close {
  float: right;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2
}

.tip-toast.close:hover, .tip-toast.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5
}

.tip-toast btn.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
